.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-title {
  font-weight: bold;
  text-anchor: end;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

body {
  overflow-x: auto;
}

#popup a { position:relative; }
#popup a span { position:absolute; display:none; z-index:99; }
#popup a:hover span { display:block; }