<section id="cbrChart">
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading">The Charts</div>
        <div class="panel-body">
          <p>The charts currently display the info addict data up to Turn 666, or Part 62. Enjoy exploring the charts and data. The site now allows 2 different types of charts and you can select the X & Y stat to investigate. I will be making further types of charts available to allow better analysis and understanding of what is going on.</p>
        </div>
    </div>
    <form name="cbrStatSelect">
        <label for="yStatSelect"> Stat: </label>
        <select name="yStatSelect" id="yStatSelect" ng-model="yStat" ng-change="chartCtrl.updateData(ChartType,xStat,yStat,selectedCiv,cbrdata.civ)">
          <option ng-repeat='stat in stats track by stat'" value="//stat//">// stat //</option>
        </select>
        <label for="xStatSelect"> per: </label>
        <select name="xStatSelect" id="xStatSelect" ng-model="xStat" ng-change="chartCtrl.updateData(ChartType,xStat,yStat,selectedCiv,cbrdata.civ)">
          <option ng-repeat='stat in stats track by stat'" value="//stat//">// stat //</option>
        </select>
        <label for="CivSelect"> Civilisation: </label>
        <select name="CivSelect" id="CivSelect" ng-model="selectedCiv" ng-change="chartCtrl.updateData(ChartType,xStat,yStat,selectedCiv,cbrdata.civ)" multiple size="10">
          <option ng-repeat="civ in civilisations track by civ" value="// civ //">// civ //</option>
        </select>
        <label for="ChartType">ChartType:</label>
        <select name="ChartType" id="ChartType" ng-model="ChartType" ng-change="chartCtrl.updateData(ChartType,xStat,yStat,selectedCiv,cbrdata.civ)">
            <option value="lineWithFocusChart">Line With Focus Chart</option>
            <option value="scatterChart">Scatter Chart</option>
        </select>
    </form>
    <div>
        <nvd3 options="options" data="data" config="{deepWatchDataDepth: 0}"></nvd3>
    </div>
</section>