<section id="cbrChart">
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading">The Charts</div>
        <div class="panel-body">
          <p>The charts currently display the info addict data up to Turn 323. I have not received any further updates for turns 324 - 341. I'm sure at some point it will get updated, and be provided your enjoyment.</p>
        </div>
    </div>
    <form name="cbrStatSelect">
        <label for="StatSelect"> Stat: </label>
        <select name="StatSelect" id="StatSelect" ng-model="selectedStat" ng-change="chartCtrl.updateData('Turn',selectedStat,selectedCiv,cbrdata.civ)">
          <option ng-repeat='stat in stats track by stat'" value="//stat//">// stat //</option>
        </select>
            <label for="CivSelect"> Civilisation: </label>
        <select name="CivSelect" id="CivSelect" ng-model="selectedCiv" ng-change="chartCtrl.updateData('Turn',selectedStat,selectedCiv,cbrdata.civ)" multiple size="10">
          <option ng-repeat="civ in civilisations track by civ" value="// civ //">// civ //</option>
        </select>
    </form>
    <div>
        <nvd3 options="options" data="data" config="{deepWatchDataDepth: 0}"></nvd3>
    </div>
</section>