<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Civ Battle Royale Data</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">// selectedStat //
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat='stat in stats' ng-click="cbrdataCtrl.CreateGraph('Turn','// stat //','// selectedCiv //')"><a href="#">// stat //</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">// selectedCiv //
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat='civ in civilisations' ng-click="cbrdataCtrl.SetCivilisation('// civ //')"><a href="#">// civ //</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->