<nav class="navbar navbar-default navbar-fixed-top" ng-controller="cbrnavController as cbrnav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target="#cbrNavMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Civ Battle Royale Data</a>
        </div>
        <div class="collapse navbar-collapse" id="cbrNavMenu">
          <ul class="nav navbar-nav">
            <li ng-class="{active:cbrnav.isSelected(1)}"><a href = "#Home" ng-click="cbrnav.selectTab(1)">Home</a></li>
            <li ng-class="{active:cbrnav.isSelected(2)}">
                  <a href = "#Chart" ng-click="cbrnav.selectTab(2)">Chart</a>
            </li>
            <li ng-class="{active:cbrnav.isSelected(3)}">
              <a href = "#Table" ng-click="cbrnav.selectTab(3)">Table</a>
            </li>
            <li ng-class="{active:cbrnav.isSelected(4)}">
              <a href = "#Import Data" ng-click="cbrnav.selectTab(4)">Import Data</a>
            </li>
            <li ng-class="{active:cbrnav.isSelected(5)}">
              <a href = "#Sneak Peak" ng-click="cbrnav.selectTab(5)">Sneak Peek</a>
            </li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
</nav>