<section id="cbrTable">
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading">The Civ Battle Royale Data</div>
        <div class="panel-body">
          <p>Please note that once you load the Table so that it is displayed, it will slow down the browser when flicking from panel to panel. I hope to resolve this by displaying only what is needed. My advice is to refresh the page once you have had a look at the table.</p>
        </div>
        <div>
            <select ng-model="TableCiv">
            <option ng-repeat="c in civilisations" value="// c //">// c //</option>
            </select>
        </div>
        <table class="table-striped table-bordered table-responsive">
            <thead>
                <td ng-repeat="stat in stats">// stat //</td>
            </thead>
            <tr ng-repeat="row in parsed | cbrSelect: 'Civilization': TableCiv ">
                <td ng-repeat="index in row">// index //</td>
            </tr>
        </table>
    </div>
</section>