<section id="cbrTable">
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading">The Civ Battle Royale Data</div>
        <div class="panel-body">
          <p>Please note that once you load the Table so that it is displayed, it will slow down the browser when flicking from panel to panel. I hope to resolve this by displaying only what is needed. My advice is to refresh the page once you have had a look at the table.</p>
        </div>
        <div>
            <select ng-model="TableCiv">
            <option ng-repeat="c in civilisations" value="// c //">// c //</option>
            </select>
        </div>
        <table class="table-striped table-bordered table-responsive">
            <thead>
                <td ng-repeat="stat in stats">// stat //</td>
            </thead>
            <tr ng-repeat="row in parsed | cbrSelect: 'Civilization': TableCiv ">
                <td>// row["Turn"] //</td>
                <td>// row["Player"] //</td>
                <td>// row["Civilization"] //</td>
                <td>// row["Net Gold per Turn"] //</td>
                <td>// row["Gross Gold per Turn"] //</td>
                <td>// row["Treasury"] //</td>
                <td>// row["Happiness"] //</td>
                <td>// row["Social Policies"] //</td>
                <td>// row["Culture per Turn"] //</td>
                <td>// row["Military Manpower"] //</td>
                <td>// row["Science"] //</td>
                <td>// row["Score"] //</td>
                <td>// row["Land"] //</td>
                <td>// row["Production"] //</td>
                <td>// row["Food"] //</td>
                <td>// row["Population"] //</td>
                <td>// row["Cities"] //</td>
                <td>// row["Wonders"] //</td>
                <td>// row["Techs"] //</td>
                <td>// row["Total Faith"] //</td>
                <td>// row["Faith per Turn"] //</td>
                <td>// row["Trade Routes"] //</td>
                <td>// row["Great Works"] //</td>
                <td>// row["Number of Civs Influenced"] //</td>
                <td>// row["Tourism"] //</td>
                <td>// row["Research Power"] //</td>
                <td>// row["Science Per City"] //</td>
                <td>// row["Production Per City"] //</td>
            </tr>
        </table>
    </div>
</section>